html{ min-height: 100vh;


}.header {
    width: 100%;
    line-height: 1.5;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    position: fixed;
  }
  
  .logo {
   width: 50px;
   padding-left: 190px;   
  padding-top: 15px;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 30%;
    margin-right: 10%;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
  min-height: 100vh;

  background-color: #eaecf3
  
}

a{
  /* PORTFOLIO */
text-decoration: none;
width: auto;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #2F2E41;
flex: none;
flex-grow: 0;
}

.routerlink{
text-align: center;
  
width: auto;


}
/*estilo da Homepage abaixo */

.holder{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-itens: flex-end;
  min-height: 100vh;
}

.holder-left{
  display:flex;
  flex-direction: column;
  heigth: 200px;
  width: 650px;
  text-align: justify;
  align-itens: flex-end;
  justify-content: center;
}
.holder-img{
  heigth: 467.47px;
  width: 606px;
}

.holder-texto{
  font-family: Montserrat;
  color: #2F2E41;

}


.holder-botao-saiba-mais{
  background-color: #2AA8DB;
  display:flex;
  justify-content: center;
  margin-top: 40px;
  padding: 10px;
  border-radius: 32px;
  width: 144px;
  heigth: 5px;
  color: white;
}


